<div class="columns small-2">
  <%= content_label attribute, component_idx: component_idx %>
</div>

<div class="columns small-10">
  <%= content_attribute_input attribute, value: content_options_for_select(object, attribute, (attribute.value.id if attribute.value)), as: :select, component_idx: component_idx, include_blank: true %>
  <%= attribute_errors(object, attribute) %>
</div>
