<div class="columns small-2">
  <%= content_label attribute, component_idx: component_idx %>
</div>

<div class="columns small-10">
  <% value = attribute.value.present? ? l(attribute.value, format: :time) : '' %>
  <%= content_attribute_input attribute, value: value, component_idx: component_idx, class: 'timepicker' %>
  <%= attribute_errors(object, attribute) %>
</div>
