.relative {
    position: relative;
    display: inline-block;
}

form .cke {
    margin-bottom: 16px !important;
}

ul.drop-zone-single {
    text-align: center;
    li {
        display: inline-block;
    }
}

ul.drop-zone {
    li {
        float: left;
    }
}

ul.drop-zone.images, ul.drop-zone-single.images {
    li {
        width: 146px;
        height: 146px;
    }
}

ul.drop-zone.documents, ul.drop-zone-single.documents {
    li .relative {
        padding-top: 24px;
    }
}

ul.drop-zone, ul.drop-zone-single {
    background-color: #fafafa;
    border: 1px dashed #ababab;
    min-height: 164px;
    list-style: none;
    margin-bottom: 16px;
    padding: 4px;
    li {
        text-align: center;
        margin: 4px;
        .actions {
            position: absolute;
            top: 0;
            right: 0;
            a {
                display: block;
                background-color: #fafafa;
                border: 1px solid #ababab;
                line-height: normal;
                padding: 3px 7px;
            }
        }
    }
}

ul.drop-zone.active, ul.drop-zone-single.active, ul.drop-placeholder.active {
    background-color: #e9f9e9;
}

li.ui-draggable-dragging {
    z-index: 4000;
}

.accordion {
    margin: 0;
    li > a {
        border-bottom: 1px solid #ababab;
    }
    .content {
        padding: 0.9375rem;
    }
    .accordion-navigation {
        position: relative;
    }
    .actions {
        display: block !important;
        position: absolute;
        right: 11px;
        top: 11px;
    }
    .ui-sortable-placeholder {
        height: 20px !important;
    }
    .accordion-error a {
        background-color: #f04124 !important;
        color: #fff;
    }
}

.form-left {
    padding: 0px;
    background-color: #fafafa !important;

    h2 {
        margin-bottom: 0px;
        background: #efefef;
        color: #222;
        font-size: 1rem;
        padding: 1rem;
        border-bottom: 1px solid #ababab;
    }

    .form-buttons {
        background-color: #3d454c;
        padding-top: 20px;
        padding-right: 20px;
        overflow: hidden;
    }

    .checkbox input {
        margin-right: 4px;
    }

    .drop-placeholder {
        background-color: #fafafa;
        border: 1px dashed #ababab;
        list-style: none;
        text-align: center;
        margin: 16px;
        padding: 8px;
    }

}

input[name=query] {
    width: 400px;
}

.document-icon {
    margin-bottom: 28px;
}
