.sidebar{
    background: #FAFAFA;
    height: 100%;
    padding: 0 20px;
    position: fixed;
    right: 0px;
    top: 130px;
    ul {
        list-style: none;
        margin: 0px;
    }
    .ui-tabs-nav {
        li {
            float: left;
        }
        .ui-state-active {
            .button {
                background-color: #cdcdcd;
            }
        }
        .button {
            margin: 0;
            outline: none;
        }
        margin: 32px 0 16px 0;
    }
    .assets {
        li {
            cursor: move;
        }
        .actions {
            display: none;
        }
    }
    .assets.documents {
        li {
            margin: 12px 0;
        }
    }
    .assets.images {
        li {
            float: left;
            width: 146px;
            height: 146px;
            line-height: 142px;
            text-align: center;
            margin: 4px;
        }
    }
}