
table .actions .button {
    margin: 0 !important;
}

table.content-nodes {
    border-collapse:collapse;
    tbody {
        tr.odd, tr:nth-of-type(odd) {
                    background-color: #fff;
                }
        tr {
            cursor: move;
            border-bottom: 1px solid #ddd;
        }
    }
    .button {
        margin-bottom: 4px !important;
    }
}

table {
    margin-top: 15px;
    .center {
        text-align: center;
        .f-dropdown li {
            text-align: left;
        }
    }
}