<div class="columns small-12 form-left">
  <%= simple_form_for object, wrapper: :horizontal_form do |f| %>
    <h2><%= legend %></h2>
    <div class="content">
      <%= render 'cms/content_categories/form', f: f %>
    </div>
    <div class="form-buttons">
      <%= render 'cms/shared/form_buttons', cancel: content_categories_path, f: f %>
    </div>
  <% end %>
</div>
