<%= render 'cms/content_categories/actions' %>

<div class="row">
  <div class="columns small-12 small-centered">
    <%= render 'cms/content_categories/list', content_categories: @content_categories %>
  </div>
</div>
