<%= actions do %>
  <div class="right">
    <%= link_to t(:back_to_index), content_categories_path, class: 'button radius small secondary' %>
  </div>
<% end %>

<%= render 'cms/content_categories/form_wrap', legend: t(:new_category), object: @object %>
