<% options.each do |option| %>
  <li>
    <% if parent_id.present? %>
      <%= link_to option.first, new_parent_content_nodes_path(type: option.last, parent_id: parent_id) %>
    <% else %>
      <%= link_to option.first, new_content_nodes_path(type: option.last) %>
    <% end %>
  </li>
<% end %>
