<%= actions do %>
  <%= link_to t(:new_content_image), new_content_image_path, class: 'button right radius small' %>
<% end %>

<div class="columns small-12">
  <%= render 'cms/content_images/list', objects: @objects %>
</div>
