<%= actions do %>
  <%= link_to t(:new_content_image), new_content_image_path, class: 'button right radius small' %>
  <div class="columns small-3">
    <%= render 'cms/shared/search_form', type: :images, url: index_search_content_images_path %>
  </div>
<% end %>

<div id="images-table" class="columns small-12">
  <%= render 'cms/content_images/list', objects: @objects %>
</div>
