<% component.content_attributes.each do |attribute| %>
  <% css_class = !attribute_errors(component, attribute).nil? ? 'error' : '' %>
  <div class="row <%= css_class %>">
    <%= render 'cms/content_attributes/' + attribute.type_name + '_field', object: component, attribute: attribute, component_idx: component_idx %>
  </div>
<% end %>
