<%= content_input as: :hidden, key: :type, value: component.type, component_idx: component_idx %>
<%= content_input as: :hidden, key: :id, value: component.id, component_idx: component_idx %>
<%= content_input as: :hidden, key: '_destroy', class: 'destroy', component_idx: component_idx %>

<% component.content_attributes.each do |attribute| %>
  <div class="row">
    <%= render 'cms/content_attributes/' + attribute.type_name + '_field', attribute: attribute, component_idx: component_idx %>
  </div>
<% end %>
