<%= actions do %>
  <%= link_to t(:new_content_document), new_content_document_path, class: 'button right radius small' %>
  <div class="columns small-3">
    <%= render 'cms/shared/search_form', type: :documents, url: index_search_content_documents_path %>
  </div>
<% end %>

<div id="documents-table" class="columns small-12">
  <%= render 'cms/content_documents/list', objects: @objects %>
</div>
