<div class="row">
  <div class="columns small-12">
    <br>
    <%= link_to t(:new_content_document), new_content_document_path, class: 'button right radius small' %>
  </div>
</div>

<div class="row">
  <div class="columns small-12 small-centered">
    <%= render 'cms/content_documents/list', objects: @objects %>
  </div>
</div>
