<%= actions do %>
  <%= link_to t(:new_content_document), new_content_document_path, class: 'button right radius small' %>
<% end %>

<div class="columns small-12">
  <%= render 'cms/content_documents/list', objects: @objects %>
</div>
