<%= actions do %>
  <div class="right">
    <%= link_to t(:back_to_index), content_documents_path, class: 'button radius small secondary' %>
  </div>
<% end %>

<%= render 'cms/content_documents/form_wrap', legend: t(:new_document), object: @object %>
