<div class="right">
  <% if @content_node&.persisted? %>
    <%= link_to 'Vorschau', "#{@content_node.path}?preview=#{@content_node.id}", class: 'button small radius', target: '_blank' %>
  <% end%>
  <%= f.submit class: 'button small radius' %>
</div>